image: golang:latest

workflow:
  rules:
    - if: $CI_COMMIT_TAG

variables:
  BASE_NAME: gatekeeper
  DOCKER_HUB: smokeycircles
  DOCKER_IMAGE: $DOCKER_HUB/$BASE_NAME

stages:
  - build
  - distribute

test:
  stage: build
  rules:
    - if: $CI_COMMIT
    - if: $CI_COMMIT_TAG
  script:
    - go test ./...
  tags:
    - go

build_x86_linux:
  stage: build
  variables:
    GOARCH: 386
    GOOS: linux
    BIN_NAME: $BASE_NAME-$GOARCH
  script:
    - go build -v -o bin/$BIN_NAME -ldflags "-s -w -X main.version=$CI_COMMIT_TAG"
  tags:
    - go
  artifacts:
    paths:
      - bin/
    expire_in: 2days

build_x86_win:
  stage: build
  variables:
    GOARCH: 386
    GOOS: windows
    BIN_NAME: $BASE_NAME-$GOARCH.exe
  script:
    - go build -v -o bin/$BIN_NAME -ldflags "-s -w -X main.version=$CI_COMMIT_TAG"
  tags:
    - go
  artifacts:
    paths:
      - bin/
    expire_in: 2days

build_amd64_linux:
  stage: build
  variables:
    GOARCH: amd64
    GOOS: linux
    BIN_NAME: $BASE_NAME-$GOARCH
  script:
    - go build -v -o bin/$BIN_NAME -ldflags "-s -w -X main.version=$CI_COMMIT_TAG"
  tags:
    - go
  artifacts:
    paths:
      - bin/
    expire_in: 2days

build_amd64_windows:
  stage: build
  variables:
    GOARCH: amd64
    GOOS: windows
    BIN_NAME: $BASE_NAME-$GOARCH.exe
  script:
    - go build -v -o bin/$BIN_NAME -ldflags "-s -w -X main.version=$CI_COMMIT_TAG"
  tags:
    - go
  artifacts:
    paths:
      - bin/
    expire_in: 2days

build_arm:
  stage: build
  variables:
    GOARCH: arm
    GOOS: linux
    BIN_NAME: $BASE_NAME-$GOARCH
  script:
    - go build -v -o bin/$BIN_NAME -ldflags "-s -w -X main.version=$CI_COMMIT_TAG"
  tags:
    - go
  artifacts:
    paths:
      - bin/
    expire_in: 2days

build_arm64:
  stage: build
  variables:
    GOARCH: arm64
    GOOS: linux
    BIN_NAME: $BASE_NAME-$GOARCH
  script:
    - go build -v -o bin/$BIN_NAME -ldflags "-s -w -X main.version=$CI_COMMIT_TAG"
  tags:
    - go
  artifacts:
    paths:
      - bin/
    expire_in: 2days

s3_upload:
  stage: distribute
  script:
    - aws s3 sync bin s3://gatekeeper-go/$CI_COMMIT_TAG
  tags:
    - aws
