image: golang:latest

workflow:
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH

variables:
  BASE_NAME: gatekeeper
  DOCKER_HUB: smokeycircles
  DOCKER_IMAGE: $DOCKER_HUB/$BASE_NAME

stages:
  - test
  - build_web
  - build_go
  - distribute

# YAML Templates
.go_common: &go_common
  stage: build_go
  rules:
    - if: $CI_COMMIT_TAG
  tags:
    - shell

.build_template: &build_template
  <<: *go_common
  script:
    - make BIN_NAME=$BIN_NAME build-pipeline
  artifacts:
    paths:
      - bin/
      - internal/web/ui/dist/
    expire_in: 2days

# Jobs
test:
  <<: *go_common
  stage: test
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH
  script:
    - make test-report
  artifacts:
    when: always
    reports:
      junit: test-report.xml
    expire_in: 1year

build_web:
  stage: build_web
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - make build-web
  artifacts:
    paths:
      - internal/web/ui/dist
    expire_in: 2days

# Build matrix using templates
build_amd64_linux:
  <<: *build_template
  variables:
    GOARCH: amd64
    GOOS: linux
    BIN_NAME: $BASE_NAME-amd64

build_amd64_windows:
  <<: *build_template
  variables:
    GOARCH: amd64
    GOOS: windows
    BIN_NAME: $BASE_NAME-amd64.exe

# build_arm:
#   <<: *build_template
#   variables:
#     GOARCH: arm
#     GOOS: linux
#     BIN_NAME: $BASE_NAME-arm

# build_arm64:
#   <<: *build_template
#   variables:
#     GOARCH: arm64
#     GOOS: linux
#     BIN_NAME: $BASE_NAME-arm64

build_docker:
  variables:
    GOARCH: amd64
    GOOS: linux
    BIN_NAME: $BASE_NAME-amd64
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - make BIN_NAME=$BIN_NAME docker
  tags:
    - shell

s3_upload:
  stage: distribute
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - aws s3 sync bin s3://gatekeeper-go/$CI_COMMIT_TAG
  tags:
    - aws
