image: golang:latest

workflow:
  rules:
    - if: $CI_COMMIT_TAG

variables:
  BASE_NAME: gatekeeper
  DOCKER_HUB: smokeycircles
  DOCKER_IMAGE: $DOCKER_HUB/$BASE_NAME

stages:
  - build
  - distribute

.go_build:
  stage: build
  before_script:
    - sed -i "/^replace/d" go.mod
    - go mod tidy
  script:
    - go build -v -o bin/$BIN_NAME -ldflags "-s -w -X main.version=$CI_COMMIT_TAG"
  tags:
    - go
  artifacts:
    paths:
      - bin/
    expire_in: 2days

test:
  stage: build
  rules:
    - if: $CI_COMMIT
    - if: $CI_COMMIT_TAG
  before_script:
    - sed -i "/^replace/d" go.mod
    - go mod tidy
  script:
    - go test ./internal/dhcp -run TestFeaturesWithOutputFile -cucumber-json=./test-report.xml
  artifacts:
    when: always
    reports:
      junit: test-report.xml
    expire_in: 1week
  tags:
    - go

build_x86_linux:
  extends: .go_build
  variables:
    GOARCH: 386
    GOOS: linux
    BIN_NAME: $BASE_NAME-$GOARCH

build_x86_win:
  extends: .go_build
  variables:
    GOARCH: 386
    GOOS: windows
    BIN_NAME: $BASE_NAME-$GOARCH.exe

build_amd64_linux:
  extends: .go_build
  variables:
    GOARCH: amd64
    GOOS: linux
    BIN_NAME: $BASE_NAME-$GOARCH

build_amd64_windows:
  extends: .go_build
  variables:
    GOARCH: amd64
    GOOS: windows
    BIN_NAME: $BASE_NAME-$GOARCH.exe

build_arm:
  extends: .go_build
  variables:
    GOARCH: arm
    GOOS: linux
    BIN_NAME: $BASE_NAME-$GOARCH

build_arm64:
  extends: .go_build
  variables:
    GOARCH: arm64
    GOOS: linux
    BIN_NAME: $BASE_NAME-$GOARCH

s3_upload:
  stage: distribute
  script:
    - aws s3 sync bin s3://gatekeeper-go/$CI_COMMIT_TAG
  tags:
    - aws
