image: golang:latest

workflow:
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH

variables:
  BASE_NAME: gatekeeper
  DOCKER_HUB: smokeycircles
  DOCKER_IMAGE: $DOCKER_HUB/$BASE_NAME

stages:
  - test
  - build
  - distribute

# YAML Templates
.go_common: &go_common
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH
  before_script:
    - sed -i "/^replace/d" go.mod
    - go mod tidy
  tags:
    - go

.build_template: &build_template
  <<: *go_common
  script:
    - go build -v -o bin/$BIN_NAME -ldflags "-s -w -X main.version=$CI_COMMIT_TAG"
  artifacts:
    paths:
      - bin/
    expire_in: 2days

# Jobs
test:
  <<: *go_common
  stage: test
  script:
    - go test ./internal/dhcp -run TestFeaturesWithOutputFile -cucumber-junit=./test-report.xml
  artifacts:
    when: always
    reports:
      junit: test-report.xml
    expire_in: 1week

# Build matrix using templates
build_x86_linux:
  <<: *build_template
  variables:
    GOARCH: "386"
    GOOS: linux
    BIN_NAME: $BASE_NAME-386

build_x86_win:
  <<: *build_template
  variables:
    GOARCH: "386"
    GOOS: windows
    BIN_NAME: $BASE_NAME-386.exe

build_amd64_linux:
  <<: *build_template
  variables:
    GOARCH: amd64
    GOOS: linux
    BIN_NAME: $BASE_NAME-amd64

build_amd64_windows:
  <<: *build_template
  variables:
    GOARCH: amd64
    GOOS: windows
    BIN_NAME: $BASE_NAME-amd64.exe

build_arm:
  <<: *build_template
  variables:
    GOARCH: arm
    GOOS: linux
    BIN_NAME: $BASE_NAME-arm

build_arm64:
  <<: *build_template
  variables:
    GOARCH: arm64
    GOOS: linux
    BIN_NAME: $BASE_NAME-arm64

s3_upload:
  stage: distribute
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - aws s3 sync bin s3://gatekeeper-go/$CI_COMMIT_TAG
  tags:
    - aws
