<html lang="en">

<head>
    <title>GateKeeper</title>
    <link rel="icon" href="assets/favicon.ico">
    <link href="assets/style.css" rel="stylesheet" />
</head>

<body>
    <div id="root">
        <div class="container" id="dhcp-leases">
            <div>
                <h1>GateKeeper</h1>
            </div>
            <div>
                <h2>DHCP Status</h3>
            </div>
            <div>
                <div>
                    <h2>Leases</h3>
                    <h3>Active</h3>
                    <table>
                        <tr>
                            <th>MAC Address</th>
                            <th>Hostname</th>
                            <th>Assigned IP</th>
                            <th>Expires At</th>
                        </tr>
                        {{range .ActiveLeases}}<tr>
                            <td>{{.ClientId}}</td>
                            <td>{{.Hostname}}</td>
                            <td>{{.IP}}</td>
                            <td>{{Format .Expiry}}</td>
                        </tr>{{end}}
                    </table>
                </div>
                <div>
                    <h3>Reserved</h3>
                    <table>
                        <tr>
                            <th>MAC Address</th>
                            <th>Hostname</th>
                            <th>Assigned IP</th>
                        </tr>
                        {{range .ReservedLeases}}<tr>
                            <td>{{.ClientId}}</td>
                            <td>{{.Hostname}}</td>
                            <td>{{.IP}}</td>
                        </tr>{{end}}
                    </table>
                </div>
                <div>
                    <h2>Options</h2>
                </div>
                <table>
                    <tr>
                        <td>DomainName</td>
                        <td>{{.DomainName}}</td>
                    </tr>
                    <tr>
                        <td>Assignable Range</td>
                        <td>{{.Start}} - {{.End}}</td>
                    </tr>
                    <tr>
                        <td>Nameservers</td> 
                        <td>{{range .Nameservers}}{{.}} {{end}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>
